{% extends "base.html" %} 
{% load widget_tweaks %} 
{% block title%} Реєстрація nigmap.net{% endblock %} 
{% block content %}
<div class="login-wrapper columns">
    <div class="column is-8 is-hidden-mobile hero-banner">
        <section class="hero is-fullheight is-dark">
            <div class="hero-body">
                <div class="container section">
                    <div class="has-text-right">
                        <h1 class="title is-1">Вхід</h1> <br>
                        <p class="title is-3">Авторизація на сервісі Nigmap.net</p>
                    </div>
                </div>
            </div>
            <div class="hero-footer">
                <p class="has-text-centered">Image © Glenn Carstens-Peters via unsplash</p>
            </div>
        </section>
    </div>
    <div class="column is-4">
        <section class="hero is-fullheight">
            <div class="hero-heading">
                <div class="section has-text-centered">
                </div>
            </div>
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            <h1 class="avatar has-text-centered section">
                                    <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo" width="150px">
                                </h1>
                            <div class="login-form">
                                <form id="login-form" action="{% url 'login' %}" method="POST" novalidate="">
                                    {% csrf_token %}
                                    <p class="control has-icon has-icon-right">
         <input type="email" class="input" name="email" id="username" placeholder="Ваша email адреса" required>                                        <span class="icon user">
                              <i class="fa fa-user"></i>
                            </span>
                            <hr>
                                    </p>
                                    <p class="control has-icon has-icon-right">
                                        <input type="password" class="input" name="password" id="password" placeholder="Ваш пароль" required>                                        <span class="icon user">
                              <i class="fa fa-lock"></i>
                            </span>
                                    </p>
                                    <p class="control login">
                                        <hr>
                                        <button class="button is-success is-large is-fullwidth">Авторизація</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
