{% extends "base.html" %}
{% load widget_tweaks %}
{% block title%} Реєстрація nigmap.net{% endblock %}
{% block content %}
<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-4 is-offset-4">
                <form id="signup-form" action="{% url 'create_user' %}" method="POST" novalidate="">
                        
            <h1 class="title">
              Реєстрація
            </h1>
            <div class="box">
                    {% csrf_token %}
                    
              <label class="label">Ім'я</label>
              <p class="control">
                {{form.first_name |add_class:"input"|attr:"placeholder:Юля"}}
            </p>
              <label class="label">Прізвище</label>
              <p class="control">
                {{form.last_name |add_class:"input"|attr:"placeholder:Комаровська"}}
            </p>
              <label class="label">Email</label>
              <p class="control">
                {{form.email |add_class:"input"|attr:"placeholder:email@gmail.com"}}
            </p>
            <label class="label">Номер мобільного</label>
            <p class="control">
            {{form.phone_number |add_class:"input"|attr:"placeholder:+380991234567"}}
        </p>
              <hr>
              <label class="label">Пароль</label>
              <p class="control">
                {{form.password1 |add_class:"input"|attr:"placeholder:●●●●●●●"}}
            </p>
              <label class="label">Підтвердження Паролю</label>
              <p class="control">
                {{form.password2 |add_class:"input"|attr:"placeholder:●●●●●●●"}}
            </p>
              <hr>
              <p class="control">
                <button class="button is-primary is-large is-fullwidth">Реєстрація</button>
              </p>
            </div>
                </form>
          </div>
        </div>
      </div>
    </div>          

{% endblock %}