<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title%} {% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script async src="//dansup.github.io/bulma-templates/js/bulma.js"></script>
</head>
<style>
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100%;
  }

  .button.is-success {
    background-color: #2EB398;
  }

  .nav.is-dark {
    background-color: #232B2D;
    color: #F6F7F7;
  }

  .nav.is-dark .nav-item a,
  .nav.is-dark a.nav-item {
    color: #F6F7F7;
  }

  .nav.is-dark .nav-item a.button.is-default {
    color: #F6F7F7;
    background-color: transparent;
    border-width: 2px;
  }

  .aside {
    background-color: #354052;
    margin-right: -10px;
  }

  .aside .main {
    padding: 40px;
    color: #6F7B7E;
  }

  .aside .title {
    color: #6F7B7E;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .aside .main .item {
    display: block;
    padding: 10px 0;
    color: #6F7B7E;
  }

  .aside .main .item.active {
    color: #F6F7F7;
  }

  .aside .main .icon {
    font-size: 19px;
    padding-right: 30px;
  }

  .aside .main .name {
    font-size: 16px;
    font-weight: bold;
  }

  .admin-panel {
    padding-bottom: 0;
  }

  .content {
    display: block;
    background-color: #fff;
    padding: 40px 20px;
  }

  .hero .tabs ul {
    border-bottom: 1px solid #d3d6db;
  }
</style>


<body>
    {% block content %}
  <div class="columns">
    <aside class="column is-2 aside hero is-fullheight is-hidden-mobile">
      <div>
        <div class="main">
          <div class="title">Панель керування</div>
          <a href="{% url 'dashboard'%}" class="item active"><span class="icon"><i class="fa fa-home"></i></span><span class="name">Головна</span></a>
          <a href="{% url 'reviews'%}" class="item"><span class="icon"><i class="fa fa-th-list"></i></span><span class="name">Відгуки</span></a>
          <a href="{% url 'dashboard_images'%}" class="item"><span class="icon"><i class="fa fa-folder-o"></i></span><span class="name">Зображення</span></a>
          <a href="{% url 'logout'%}" class="item"><span class="icon"><i class="fa  fa-sign-out"></i></span><span class="name">Вихід</span></a>
          
        </div>
      </div>
    </aside>
    <div class="column is-10 admin-panel">
      <nav class="nav has-shadow" id="top">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="../index.html">
              <!--<img src="../images/bulma.png" alt="">-->
            </a>
          </div>
          <span class="nav-toggle">
            <span></span>
          <span></span>
          <span></span>
          </span>
          <div class="nav-right nav-menu is-hidden-tablet">
            <a href="{% url 'dashboard'%}" class="nav-item is-active ">
      Головна
    </a>
            <a href="{% url 'dashboard_images'%}" class="nav-item">
      Зображення
    </a>
            <a href="{% url 'reviews'%}" class="nav-item">
      Відгуки
    </a>
    <a href="{% url 'logout' %}" class="nav-item">
        Вихід
      </a>
          </div>
        </div>
      </nav>
      <section>
        {% block data %} {% endblock%}
      </section>
      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {

          // Get all "navbar-burger" elements
          var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

          // Check if there are any nav burgers
          if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(function ($el) {
              $el.addEventListener('click', function () {

                // Get the target from the "data-target" attribute
                var target = $el.dataset.target;
                var $target = document.getElementById(target);

                // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                $el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

              });
            });
          }

        });
      </script>
      {% endblock %}
</body>

</html>