<template>
  <section>
    <div class="columns is-mobile is-centered">
      <!--  -->
      <div class="columns">
        <div class="column is-narrow followers has-text-centered">
          <p class="title is-3">{{user_data.first_name}} {{user_data.last_name}}</p>
          <hr>

          <p class="subtitle is-5" v-if="seen">{{user_data.phone_number}}</p>
        </div>
        <div class="column is-narrow followers has-text-centered">
          <p class="title is-3 is-bold" v-if="user_data.positive_reviews == null"> 0%</p>
          <!-- <p class="title is-3 is-bold" v-else-if="user_data.positive_reviews  = 10"> 0 %</p> -->
          <p class="title is-3 is-bold" v-else>{{user_data.positive_reviews}} %</p>

          <hr>

          <p class="subtitle is-5">позитивних відгуків</p>
        </div>
        <div class="column is-narrow following has-text-centered">
          <p class="title is-3">{{user_data.price__avg}} грн.</p>
          <hr>
          <p class="subtitle is-5">середня ціна</p>
        </div>

        <div class="column is-narrow likes has-text-centered">
          <span class="button is-primary  follow">Залишити відгук</span>
          <p>
            <hr>
            <span class="button is-primary is-outlined follow" v-on:click="seen = !seen">Переглянути номер</span>
          </p>

        </div>
      </div>
    </div>
    <!--  -->
    </div>

    </div>
    </div>
    <header>
      <div v-for="images of user_data.images">
        <img v-bind:src="images.image" alt>
      </div>

      <!-- images placed inside block elements to deal with a Firefox rendering bug affecting  scaled flexbox images -->
    </header>
    <section class="is-6 is-default is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="column is-full-desktop" v-for="review of user_data.reviews">
            <h1 class="blog-title title is-3 is-bold">
              <a v-if="review.positive == true" class="button is-primary">Позитивний</a>
              <a v-else class="button is-danger">Негативний</a>
            </h1>
            <h2 class="blog-summary">
              {{review.text}} </h2>
          </div>

        </div>
      </div>
    </section>
  </section>
</template>

<script >
import axios from 'axios'

export default {
  name: 'Details',

  data: () => ({
    user_data: [],
    errors: [],
     seen: false,
  }),


  created() {
    this.fetchData()
    // this.$emit(push, {map_center: {lat: user_data.position.latitude, lng: user_data.position.longitude}})
    this.$root.$emit('center_change' [{map_center: {lat: user_data.position.latitude, lng: user_data.position.longitude}}]);
  },

  watch: {
    '$route': 'fetchData'
  },

  methods: {
    fetchData() {
      axios.get('http://127.0.0.1:8000/api/user/' + this.$route.params.id + '/')
        .then((resp) => {
          this.user_data = resp.data
          console.log(this.user_data)
        })
    }
  }
}
</script>

<style>
.columns {
  padding-top: 40px
}

body {
  margin: 0;
  background: transparent;
}

header {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

header div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 350px;
  margin: .5vw;
}

header div img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 400px) {
  header div {
    margin: 0;
  }
  header {
    padding: 0;
  }
}





/*  */
</style>
