<template>
  <div class="hello">


 <gmap-map
    :center="map_center"
    :zoom="zoom"
    style="height: 93vh;
    width: 100vw;"
  >
  <gmap-cluster :gridSize="50">
    <gmap-marker
      :key="index"
      v-for="(m, index) in markers"
      :position="{lat: Number(m.position.latitude), lng: Number(m.position.longitude)}"
      :clickable="true"
      :icon="m.avatar"
      :draggable="false"
       @click="redic(index)"
    ></gmap-marker>

</gmap-cluster>  </gmap-map>

  </div>
</template>

<script>

 import axios from 'axios'

export default {

   props: ['zoom'],
    data () {
      return {
      place: 'Test',
      latLng: {},
      markers: {},
      map_center: {lat: 50.071156, lng:  25.154167},
      }
    },
    mounted() {
            this.$root.$on('center_change', function(data_from_child) {$this.data.map_center=data_from_child});

    },

    created() {
      this.fetchData()
    },
    methods: {
    redic: function (i) {
      this.$router.push('/details/'+this.markers[i].uid)
},
    fetchData() {
      axios.get('http://127.0.0.1:8000/api/users')
      .then((resp) => {
        this.markers = resp.data
        console.log(this.markers[0].avatar)

      })
      .catch((err) => {
        console.log(err)
      })
      }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
