{% extends "base.html" %}
{% load widget_tweaks %}
{% block title%} Налаштування nigmap.net{% endblock %}

{% block data %}

<form style="padding-top: 40px" method="POST" action="">{% csrf_token %}
  <div class="columns">
    <div class="column is-7 is-full-mobile is-gapless">
      <h1 class="title">Розташування</h1>
      {{ form.media }}
      {{ form.position }}
    </div>
    <div class="column is-5 is-full-mobile is-centered is-gapless">
      <h1 class="title">Основні данні</h1>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <label class="label">Ваше Ім'я</label>
            <p class="control is-expanded has-icons-left">
              {{ form.first_name |add_class:"input" }}
              <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
            </p>
          </div>
          <div class="field">
            <label class="label">Ваше Прізвище</label>
            <p class="control is-expanded has-icons-left">
              {{ form.last_name |add_class:"input" }}
              <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <label class="label">Хештег для отримання зображень з Instagram</label>
            <p class="control is-expanded has-icons-left">
              {{ form.hash_tag |add_class:"input" }}
              <span class="icon is-small is-left">
          <i class="fa fa-hashtag"></i>
        </span>
            </p>
          </div>
          <div class="field">
            <label class="label">Секретний ключ по якому клієнти залишатимуть відгуки</label>
            <p class="control is-expanded has-icons-left">
              {{ form.secret |add_class:"input" }}
              <span class="icon is-small is-left">
          <i class="fa fa-user-secret"></i>
        </span>
            </p>
          </div>

        </div>
      </div>

    </div>

  </div>
<div class=" has-text-centered">

    <button class="button is-primary is-outlined " onclick="GAUpdateAccount({{ request.user.id }});" >Обновити данні</button>
</div>

</form>

{% endblock %}

