{% extends "base.html" %}
{% load widget_tweaks %}
{% block title%} Налаштування зображень nigmap.net{% endblock %}

{% block data %}

{% if view.count_images_check %}


<!--FORM -->
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="column is-fill is-narrow ">
    <p class="bd-notification is-info">
    <div class="field has-addons">
      <div class="control">
        {{  form.price |add_class:"input"|attr:"placeholder:Введіть ціну" }}
      </div>
      <div class="control">
        <div class="file">
          <label class="file-label">
            {{ form.image|add_class:"file-input" }}
            <span class="file-cta">
      <span class="file-icon">
        <i class="fa fa-upload"></i>
      </span>
      <span class="file-label">
        Виберіть фотографію
      </span>
    </span>
          </label>
        </div>
      </div>
      <button type="submit" class="button is-primary is-fullwidth">
        <span class="icon"><i class="fa fa-upload"></i></span>
        <span>Завантажити</span>
      </button>
    </div>
  </div>
</form>
<!--ENDFORM-->
{% else %}
<h1 style="font-size:20px">Завантажено максимальну кількість фото для вашого аккаунту</h1>
{% endif %}
<hr>
<div class="columns is-multiline">
  {% for image in view.images %}
  <div class="column is-4">
    <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{image.image.url}}" />
            </figure>
          </div>
          <div class="card-content">
            <div class="panel-block-item">
              <span class="likes">
                <span class="icon">
                <a>  <i class="fa fa-money"></i></a>
                </span>
                {{image.price}}
              </span>
              <span class="comments">
                <a class="button is-primary is-pulled-right is-outlined"  href="{% url "update_image_form" image.pk %}">Редагувати</></a>
              </span>
            </div>
          </div>
</div>
  </div>

{% endfor %}
</div>


{% endblock %}
