{% extends "base.html" %}
{% block title%} Перегляд відгуків nigmap.net{% endblock %}

{% block data %}


<div class="column is-full">
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Повідомлення</th>
              <th>Опублікований</th>
              <th>Позитивний</th>

            </tr>
          </thead>
          <tbody>
          {% for  review in reviews %}

            <tr>
              <td>{{review.text}}</td>
              <td>{% ifequal review.checked  True %} <a ><i class="fa fa-plus" aria-hidden="true"></i></a>{% else %}<a ><i class="fa fa-minus" aria-hidden="true"></i></a>
 {% endifequal %}
</td>
              <td> {% ifequal review.positive  True %} <a ><i class="fa fa-plus" aria-hidden="true"></i></a>{% else %}<a ><i class="fa fa-minus" aria-hidden="true"></i></a>
 {% endifequal %}

</td>
            </tr>
{% endfor %}
          </tbody>
        </table>
      </div>


{% endblock %}
