{% extends "base.html" %}
{% load widget_tweaks %}

{% block data %}
<form enctype="multipart/form-data" method="post">
{% csrf_token %}



    <div class="column is-fill is-narrow ">
    <p class="bd-notification is-info">
    <div class="field has-addons">
      <div class="control">
        {{  form.price |add_class:"input"|attr:"placeholder:Введіть ціну" }}
      </div>
      <div class="control">
        <div class="file">
          <label class="file-label">
            {{ form.image|add_class:"file-input" }}
            <span class="file-cta">
      <span class="file-icon">
        <i class="fa fa-upload"></i>
      </span>
      <span class="file-label">
        Виберіть фотографію
      </span>
    </span>
          </label>
        </div>
      </div>
      <button type="submit" class="button is-primary is-fullwidth">
        <span class="icon"><i class="fa fa-upload"></i></span>
        <span>Завантажити</span>
      </button>
    </div>
  </div>
  <img src="{{ form.instance.image.url }}" />






</form>
{% endblock %}
