<template>
  <div id="app">
      <div class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
                   <transition name="fade">

          <router-link to="/" class="nav-item">
              <img src="http://bulma.io/images/bulma-logo.png" 
              alt="Bulma: a modern CSS framework based on Flexbox" 
              width="112" height="28">
            </a>
          </router-link>
          </transition>
        </div>

        <span class="nav-toggle" v-on:click="toggleNav" v-bind:class="{ 'is-active': isActive }">
          <span></span>
          <span></span>
          <span></span>
        </span>

        <div class="nav-right nav-menu" v-bind:class="{ 'is-active': isActive }">
              <div class="routing" v-if="this.$route.path == '/'">

          <router-link to="" class="nav-item r-item" >
          <gmap-autocomplete
           class="input"
           placeholder="Пошук по місту"
          @place_changed="changeCenter"
          :options="{}">
        </gmap-autocomplete>
  </router-link>

</div>
          <router-link to="faq" class="nav-item r-item">
            <a class="button is-normal is-primary" id="learn">Реєстрація</a>
          </router-link>

        </div>
      </div>
    </div>
  <transition name="fade" mode="out-in"  appear>
    <router-view  v-bind="myProps"></router-view>
  </transition>

  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
       message: '',
      isActive: false,
           
           zoom : 7,
    }
  },
  methods: {
    toggleNav: function() {
      this.isActive = !this.isActive;
    },
     submit: function() {
      console.log(this.message);
    },
    setPlaceText(place) {
        this.place = place;
      },
       changeCenter(place) {
            this.center = {
              lat: place.geometry.location.lat(),
              lng:  place.geometry.location.lng(),
            };
            this.zoom = 14;
          },
  },

computed: {
  myProps() {
    if (this.$route.name === 'Hello') { return { center: this.center, zoom: this.zoom }}
  }
},
}


import * as VueGoogleMaps from 'vue2-google-maps';

import Vue from 'vue';

Vue.use(VueGoogleMaps, {
    load: {
      key: 'AIzaSyBzlLYISGjL_ovJwAehh6ydhB56fCCpPQw',
      libraries: 'places', //// If you need to use place input
    }
  });
</script>

<style lang="sass">
@import '../node_modules/bulma/bulma.sass';
/* @import './assets/css/mq.sass'; */

/* Enter and leave animations can use different
/* durations and timing functions.


.slide-fade-enter-active
  transition: all .3s ease

.slide-fade-leave-active
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1)

.slide-fade-enter, .slide-fade-leave-to
  transform: translateX(10px)
  opacity: 0

.fade-enter-active, .fade-leave-active
  transition: opacity 0.5s

.fade-enter, .fade-leave-active
  opacity: 0
</style>

